.cross{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    stroke-width: 15px;
    stroke: coral;
    stroke-linecap: round;
    fill: none;
}